.pkl
*.xml
/.idea
/data
*.pkl
/data
/img
/rCPGswCPG/__pycache__
rCPGswCPG/.DS_Store
.DS_Store
/rCPGswCPG/parameter_extraction/__pycache__
/src/utils/__pycache__
/rCPGswCPG/utils/__pycache__
/rCPGswCPG/rCPGswCPG.egg-info
/rCPGswCPG/rCPG_swCPG.egg-info
/rCPGswCPG/protocols/__pycache__
/rCPGswCPG/prc_extraction/__pycache__
/rCPGswCPG/prc_extraction/prc_extraction_subroutines/__pycache__
/rCPGswCPG/plotting_figures/__pycache__
*.pkl
*.pkl
*.pyc
